.avia-section.av-ks8wo9ri-913aab11d10eeadea5a89fbec65c402c{
background-color:#ffffff;
}

#top .flex_column_table.av-equal-height-column-flextable.av-ks8wkxd6-63a43cf8130f09700cce6c5f5fe9dbd7{
margin-top:-150px;
margin-bottom:0px;
}
.flex_column.av-ks8wkxd6-63a43cf8130f09700cce6c5f5fe9dbd7{
padding:50px 30px 50px 30px;
background-color:#ffffff;
}

#top .flex_column_table.av-equal-height-column-flextable.av-8b76-d5a1c3b9b7456b2a97f926c8b4787e06{
margin-top:-150px;
margin-bottom:0px;
}
.flex_column.av-8b76-d5a1c3b9b7456b2a97f926c8b4787e06{
padding:50px 30px 50px 30px;
background-color:#ffffff;
}

#top .flex_column_table.av-equal-height-column-flextable.av-6eso-c51cc9ae8967692650126c7dc2eb7584{
margin-top:-150px;
margin-bottom:0px;
}
.flex_column.av-6eso-c51cc9ae8967692650126c7dc2eb7584{
padding:50px 30px 50px 30px;
background-color:#ffffff;
}

#top .av-special-heading.av-ks8xi8ri-549175192825662b9d01c25e64dc7ea7{
padding-bottom:10px;
}

.avia-image-container.av-ksaeu3dg-e52628f73dad65c40215e55df3bc0aea .av-caption-image-overlay-bg{
opacity:0.3;
background-color:#000000;
}
.avia-image-container.av-ksaeu3dg-e52628f73dad65c40215e55df3bc0aea .av-image-caption-overlay-center{
color:#ffffff;
font-size:24px;
}

.avia-image-container.av-ksaewqvk-83f4b85efb215e105a3fae78822999c2 .av-caption-image-overlay-bg{
opacity:0.3;
background-color:#000000;
}
.avia-image-container.av-ksaewqvk-83f4b85efb215e105a3fae78822999c2 .av-image-caption-overlay-center{
color:#ffffff;
font-size:24px;
}

.avia-image-container.av-ksaew177-85d3f49076a5bd8d26bcca2ba7427ddf .av-caption-image-overlay-bg{
opacity:0.3;
background-color:#000000;
}
.avia-image-container.av-ksaew177-85d3f49076a5bd8d26bcca2ba7427ddf .av-image-caption-overlay-center{
color:#ffffff;
font-size:24px;
}

.avia-image-container.av-ksaeuiqj-7e7ac36a89385546fad1b6e927748184 .av-caption-image-overlay-bg{
opacity:0.3;
background-color:#000000;
}
.avia-image-container.av-ksaeuiqj-7e7ac36a89385546fad1b6e927748184 .av-image-caption-overlay-center{
color:#ffffff;
font-size:24px;
}

.avia-image-container.av-ktbf2zih-46544c47798fe0b68fc8615ec66b68b6 .av-caption-image-overlay-bg{
opacity:0.3;
background-color:#000000;
}
.avia-image-container.av-ktbf2zih-46544c47798fe0b68fc8615ec66b68b6 .av-image-caption-overlay-center{
color:#ffffff;
font-size:24px;
}

.avia-image-container.av-ksaewgbp-e73d7b6795e329f907f47f6ec9152bbb .av-caption-image-overlay-bg{
opacity:0.3;
background-color:#000000;
}
.avia-image-container.av-ksaewgbp-e73d7b6795e329f907f47f6ec9152bbb .av-image-caption-overlay-center{
color:#ffffff;
font-size:24px;
}

.avia-section.av-kt9vnkq9-65f13869a00cccb3b60fdc147237d570{
background-color:#ffffff;
}

#top .av-special-heading.av-twni-186472c08a844bdc0ea1d21ecb5f42c6{
padding-bottom:35px;
font-size:30px;
}

.avia-image-container.av-oinm-27050816ce9d82ca015547909b40f242 .av-caption-image-overlay-bg{
opacity:0.3;
background-color:#000000;
}
.avia-image-container.av-oinm-27050816ce9d82ca015547909b40f242 .av-image-caption-overlay-center{
color:#ffffff;
font-size:24px;
}

.avia-image-container.av-20ku-49d75520554f78822932753b84bbd5e5 .av-caption-image-overlay-bg{
opacity:0.3;
background-color:#000000;
}
.avia-image-container.av-20ku-49d75520554f78822932753b84bbd5e5 .av-image-caption-overlay-center{
color:#ffffff;
font-size:24px;
}

.avia-image-container.av-fzuc-0b57f608059d844dc454a17531eb7fd3 .av-caption-image-overlay-bg{
opacity:0.3;
background-color:#000000;
}
.avia-image-container.av-fzuc-0b57f608059d844dc454a17531eb7fd3 .av-image-caption-overlay-center{
color:#ffffff;
font-size:24px;
}

.avia-image-container.av-coh4-ffa93a421554089eaa760adb916ec75f .av-caption-image-overlay-bg{
opacity:0.3;
background-color:#000000;
}
.avia-image-container.av-coh4-ffa93a421554089eaa760adb916ec75f .av-image-caption-overlay-center{
color:#ffffff;
font-size:24px;
}

.avia-image-container.av-7u82-0be5cc5956af11f1144d5781467f8b1c .av-caption-image-overlay-bg{
opacity:0.3;
background-color:#000000;
}
.avia-image-container.av-7u82-0be5cc5956af11f1144d5781467f8b1c .av-image-caption-overlay-center{
color:#ffffff;
font-size:24px;
}

.avia-image-container.av-2xk2-57e50538c06b92b58abd79ca459febc7 .av-caption-image-overlay-bg{
opacity:0.3;
background-color:#000000;
}
.avia-image-container.av-2xk2-57e50538c06b92b58abd79ca459febc7 .av-image-caption-overlay-center{
color:#ffffff;
font-size:24px;
}

.avia-section.av-ksafn998-e95aff10c6cb11321644104910338700{
position:relative;
}
.avia-section.av-ksafn998-e95aff10c6cb11321644104910338700 .av-parallax .av-parallax-inner{
background-repeat:no-repeat;
background-image:url(https://sultandb.com/wp-content/uploads/2021/08/sul.jpg);
background-position:0% 0%;
background-attachment:scroll;
}
.avia-section.av-ksafn998-e95aff10c6cb11321644104910338700 .av-section-color-overlay{
opacity:0.4;
background-color:#000000;
background-image:url(https://sultandb.com/wp-content/themes/enfold/images/background-images/dots-mini-light.png);
background-repeat:repeat;
}
.avia-section.av-ksafn998-e95aff10c6cb11321644104910338700 .avia-divider-svg-top svg{
height:200px;
width:calc(100% + 1.3px);
fill:#ffffff;
}
.avia-section.av-ksafn998-e95aff10c6cb11321644104910338700 .avia-divider-svg-bottom svg{
height:150px;
width:calc(100% + 1.3px);
fill:#e8e8e8;
}

@keyframes av_sonarEffect_av-ksd2nh0o-5a3a0d1ea525c334f6683aef0f4b4bf0 {
  0% {opacity: 0.3;}
 40% {opacity: 0.5; box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);}
100% {opacity: 0; box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5); -webkit-transform: scale(1.5); transform: scale(1.5);}
}
@-webkit-keyframes av_sonarEffect_av-ksd2nh0o-5a3a0d1ea525c334f6683aef0f4b4bf0 {
  0% {opacity: 0.3;}
 40% {opacity: 0.5; box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);}
100% {opacity: 0; box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5); -webkit-transform: scale(1.5); transform: scale(1.5);}
}
.av_font_icon.av-ksd2nh0o-5a3a0d1ea525c334f6683aef0f4b4bf0{
color:#ffffff;
border-color:#ffffff;
}
.av_font_icon.av-ksd2nh0o-5a3a0d1ea525c334f6683aef0f4b4bf0 .av-icon-char{
font-size:40px;
line-height:40px;
width:40px;
}
.av_font_icon.av-ksd2nh0o-5a3a0d1ea525c334f6683aef0f4b4bf0.av-icon-style-border .av-icon-char:after{
animation:av_sonarEffect_av-ksd2nh0o-5a3a0d1ea525c334f6683aef0f4b4bf0 1.8s ease-in-out .1s infinite;
-webkit-animation:av_sonarEffect_av-ksd2nh0o-5a3a0d1ea525c334f6683aef0f4b4bf0 1.8s ease-in-out .1s infinite;
-moz-animation:av_sonarEffect_av-ksd2nh0o-5a3a0d1ea525c334f6683aef0f4b4bf0 1.8s ease-in-out .1s infinite;
-o-animation:av_sonarEffect_av-ksd2nh0o-5a3a0d1ea525c334f6683aef0f4b4bf0 1.8s ease-in-out .1s infinite;
}

.avia-section.av-kt9vwlnr-40192003df86e24ab380605ffa2a7645{
position:relative;
}
.avia-section.av-kt9vwlnr-40192003df86e24ab380605ffa2a7645 .av-parallax .av-parallax-inner{
background-repeat:no-repeat;
background-image:url(https://sultandb.com/wp-content/uploads/2021/08/sul.jpg);
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-kt9vwlnr-40192003df86e24ab380605ffa2a7645 .av-section-color-overlay{
opacity:0.4;
background-color:#000000;
background-image:url(https://sultandb.com/wp-content/themes/enfold/images/background-images/dots-mini-light.png);
background-repeat:repeat;
}
.avia-section.av-kt9vwlnr-40192003df86e24ab380605ffa2a7645 .avia-divider-svg-top svg{
height:60px;
width:calc(100% + 1.3px);
fill:#ffffff;
}
.avia-section.av-kt9vwlnr-40192003df86e24ab380605ffa2a7645 .avia-divider-svg-bottom svg{
height:30px;
width:calc(100% + 1.3px);
fill:#e8e8e8;
}

@keyframes av_sonarEffect_av-45ai-e4fc0a3f0da5136c164c21c721da9b45 {
  0% {opacity: 0.3;}
 40% {opacity: 0.5; box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);}
100% {opacity: 0; box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5); -webkit-transform: scale(1.5); transform: scale(1.5);}
}
@-webkit-keyframes av_sonarEffect_av-45ai-e4fc0a3f0da5136c164c21c721da9b45 {
  0% {opacity: 0.3;}
 40% {opacity: 0.5; box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);}
100% {opacity: 0; box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5); -webkit-transform: scale(1.5); transform: scale(1.5);}
}
.av_font_icon.av-45ai-e4fc0a3f0da5136c164c21c721da9b45{
color:#ffffff;
border-color:#ffffff;
}
.av_font_icon.av-45ai-e4fc0a3f0da5136c164c21c721da9b45 .av-icon-char{
font-size:40px;
line-height:40px;
width:40px;
}
.av_font_icon.av-45ai-e4fc0a3f0da5136c164c21c721da9b45.av-icon-style-border .av-icon-char:after{
animation:av_sonarEffect_av-45ai-e4fc0a3f0da5136c164c21c721da9b45 1.8s ease-in-out .1s infinite;
-webkit-animation:av_sonarEffect_av-45ai-e4fc0a3f0da5136c164c21c721da9b45 1.8s ease-in-out .1s infinite;
-moz-animation:av_sonarEffect_av-45ai-e4fc0a3f0da5136c164c21c721da9b45 1.8s ease-in-out .1s infinite;
-o-animation:av_sonarEffect_av-45ai-e4fc0a3f0da5136c164c21c721da9b45 1.8s ease-in-out .1s infinite;
}

.avia-section.av-2vek-0964cdd853a07f2806218ed66d8c6c9b{
background-color:#e8e8e8;
}

#top .av-special-heading.av-9v2u-e1333ccdea035ceeee5383b35016b086{
padding-bottom:10px;
}
.av-special-heading.av-9v2u-e1333ccdea035ceeee5383b35016b086 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-kscdob57-321a1a7bc498f00c31ce91fe86bfc55d{
height:25px;
}

#top .av-special-heading.av-ksce8k0y-a9b2492a60c0d6d841c74e9ffb267602{
padding-bottom:10px;
}

#top #wrap_all .avia-button.av-kscdj6wk-72d56ca5f4309d7e6ec372d4ec58cb03{
background-color:#cd1520;
border-color:#cd1520;
color:#ffffff;
border-radius:25px 25px 25px 25px;
-webkit-border-radius:25px 25px 25px 25px;
-moz-border-radius:25px 25px 25px 25px;
transition:all 0.4s ease-in-out;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
}
#top #wrap_all.avia-button.av-kscdj6wk-72d56ca5f4309d7e6ec372d4ec58cb03:hover .avia_button_background{
border-radius:25px 25px 25px 25px;
-webkit-border-radius:25px 25px 25px 25px;
-moz-border-radius:25px 25px 25px 25px;
}

